{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "plugins": ["@typescript-eslint", "jest"],
  "extends": [
    "next",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "next/core-web-vitals",
    "prettier"
  ],
  "globals": {
    "React": "readonly"
  },
  "overrides": [
    {
      "files": ["*.{js,cjs,mjs,ts,mts,jsx,tsx}"]
    }
  ],
  "rules": {
    "no-unused-vars": "warn",
    "@typescript-eslint/explicit-function-return-type": "warn"
  }
}
