# dependencies
node_modules

# next.js
.next

# production
build
dist
out

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts
next.config.js

# sseo 
**/*.css
**/**/*.css
.sass-cache

# file temp
tmp
