# dependencies
node_modules
pnpm-lock.yaml

# testing
coverage

# next.js
.next

# production
build
out
dist
dist-ssr
*.local

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts
next.config.js

# sseo 
**/*.css
**/**/*.css
.sass-cache

# file temp
tmp

# personal
README.md
